<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5 mb-5">
    <form method="post">
        <h3>1. Что такое Python?</h3>
        <p>1. Это динамический скриптовый язык программирования высокого уровня.</p>
        <input type="radio" name="question1"><br>
        <p> 2. Это язык программирования и платформа вычислений.</p>
        <input type="radio" name="question1">
        <p>3. Это язык программирования с объектами, модулями, потоками, исключениями и автоматическим управлением
            памятью.</p>
        <input type="radio" name="question1"
               value="Это язык программирования с объектами, модулями, потоками, исключениями и автоматическим управлением памятью.">
        <p>4. Это методика разработки программ, в основе которой лежит понятие объект.</p>
        <input type="radio" name="question1">
        <br>

        <h3>2. Как выполняется интерполяция строк? name = 'Chris'</h3>
        <p>1. f strings print(f'Hello {name}')</p>
        <input type="radio" name="question2"><br>
        <p>2. Все три способа правильные</p>
        <input type="radio" name="question2" value="Все три способа правильные">
        <p>3. format print("My name is {}".format((name)))</p>
        <input type="radio" name="question2">
        <p>2. % operator print('Hey %s %s' % (name, name))</p>
        <input type="radio" name="question2">
        <br>

        <h3>3. Что такое func</h3>
        <p>1. Что такое func?.</p>
        <input type="radio" name="question3"
        ><br>
        <p> 2. Это язык программирования и платформа вычислений.</p>
        <input type="radio" name="question3">
        <p>3. Это язык программирования с объектами, модулями, потоками, исключениями и автоматическим управлением
            памятью.</p>
        <input type="radio" name="question3">
        <p>4. В чем разница между списком и кортежем?.</p>
        <input type="radio" name="question3"
               value="объект, который можно назначить переменной или передать другой функции">
        <br>

        <h3>"4. В чем разница между списком и кортежем?
            1 - У кортежа есть структура. В каждом индексе могут сосуществовать различные типы данных. Например, такая
            запись базы данных в памяти: (2, "Ema", "2020–04–</h3>
        <p>1. Это динамический скриптовый язык программирования высокого уровня.</p>
        <input type="radio" name="question4"><br>
        <p> 2. Это язык программирования и платформа вычислений.</p>
        <input type="radio" name="question4">
        <p>3. Это язык программирования с объектами, модулями, потоками, исключениями и автоматическим управлением
            памятью.</p>
        <input type="radio" name="question4" value="Все ответы правильные">
        <p>4. Это методика разработки программ, в основе которой лежит понятие объект.</p>
        <input type="radio" name="question4">
        <br>

        <h3>5. Что такое PEP 8?</h3>
        <p>1. Это динамический скриптовый язык программирования высокого уровня.</p>
        <input type="radio" name="question5"
        ><br>
        <p> 2. Это язык программирования и платформа вычислений.</p>
        <input type="radio" name="question5"
               value="Это набор правил, которые определяют, как форматировать код для максимальной читабельности.">
        <p>3. Это язык программирования с объектами, модулями, потоками, исключениями и автоматическим управлением
            памятью.</p>
        <input type="radio" name="question5">
        <p>4. Это методика разработки программ, в основе которой лежит понятие объект.</p>
        <input type="radio" name="question5">
        <br>

        <h3>6. Как писать комментарии на Python?</h3>
        <p>1. Это динамический скриптовый язык программирования высокого уровня.</p>
        <input type="radio" name="question6" value="Комментарии начинаются с символа #."><br>
        <p> 2. Это язык программирования и платформа вычислений.</p>
        <input type="radio" name="question6">
        <p>3. Это язык программирования с объектами, модулями, потоками, исключениями и автоматическим управлением
            памятью.</p>
        <input type="radio" name="question6">
        <p>4. Это методика разработки программ, в основе которой лежит понятие объект.</p>
        <input type="radio" name="question6">
        <br>

        <h3>7. Как можно объявить несколько назначений в одной строке кода?</h3>
        <p>1. Это динамический скриптовый язык программирования высокого уровня.</p>
        <input type="radio" name="question7"><br>
        <p> 2. Это язык программирования и платформа вычислений.</p>
        <input type="radio" name="question7">
        <p>3. Это язык программирования с объектами, модулями, потоками, исключениями и автоматическим управлением
            памятью.</p>
        <input type="radio" name="question7" value="Правильные ответы 1 и 2.">
        <p>4. Это методика разработки программ, в основе которой лежит понятие объект.</p>
        <input type="radio" name="question7">
        <br>

        <button type="submit" class="btn btn-success"> Обновить</button>
    </form>
</div>
</body>
</html>
